<div id="auditions" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    people
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    List of Auditions
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->
            
            <div>

                <!-- NEW BUTTON -->
                <button mat-raised-button class="new-audition-button mat-white-bg" (click)="newAudition()">
                    <span>NEW</span>
                </button>
                <!-- / NEW BUTTON -->

                <!-- EXPORT BUTTON -->
                <button mat-raised-button class="add-audition-button mat-white-bg" (click)="downloadFile()">
                    <span>EXPORT</span>
                </button>
                <!-- / EXPORT BUTTON -->

            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- AUDITIONS TABLE -->
            <mat-table class="auditions-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- ID COLUMN -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let auditions" (click)="edit(auditions.id)">
                        <p class="text-truncate">{{auditions.id}}</p>
                    </mat-cell>
                </ng-container>
                <!-- / ID COLUMN -->

                <!-- IMAGE COLUMN -->
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let auditions">
                        <img class="auditions-image" [src]="'assets/images/logos/showroom.png'">
                    </mat-cell>
                </ng-container>
                <!-- / IMAGE COLUMN -->

                <!-- NAME COLUMN -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let auditions" (click)="edit(auditions.id)">
                        <p class="text-truncate">{{auditions.name}}</p>
                    </mat-cell>
                </ng-container>
                <!-- / NAME COLUMN -->

                <!-- EMAIL COLUMN -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let auditions" (click)="edit(auditions.id)">
                        <p class="text-truncate">{{auditions.email}}</p>
                    </mat-cell>
                </ng-container>
                <!-- / EMAIL COLUMN -->

                <!-- TEL COLUMN -->
                <ng-container matColumnDef="tel">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tel</mat-header-cell>
                    <mat-cell *matCellDef="let auditions" (click)="edit(auditions.id)">
                        <p class="text-truncate">{{auditions.tel}}</p>
                    </mat-cell>
                </ng-container>
                <!-- / TEL COLUMN -->

                <!-- LINEID COLUMN -->
                <ng-container matColumnDef="line_id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Line ID</mat-header-cell>
                        <mat-cell *matCellDef="let auditions" (click)="edit(auditions.id)">
                            <p class="text-truncate">{{auditions.line_id}}</p>
                        </mat-cell>
                    </ng-container>
                    <!-- / LINEID COLUMN -->

                <!-- DELETE COLUMN -->
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                    <mat-cell *matCellDef="let auditions">
                        <button class="del-button" (click)="delete(auditions.id, auditions.name)">
                            <mat-icon class="logo-icon mr-16" style="color:gray">
                                delete_outline
                            </mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <!-- / DELETE COLUMN -->

                <!-- HEADER ROW -->
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <!-- / HEADER ROW -->

                <!-- ROW -->
                <mat-row *matRowDef="let auditions; columns: displayedColumns;" class="auditions" matRipple></mat-row>
                <!-- / ROW -->

            </mat-table>
            <!-- / AUDITIONS TABLE -->

            <!-- PAGINATOR -->
            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
            <!-- / PAGINATOR -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>