<div id="forgot-password" fxLayout="column">

    <!-- CONTENT CARD -->
    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <!-- PASSWORD RECOVERY FORM -->
        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <!-- LOGO -->
            <div class="logo">
                <img src="assets/images/logos/showroom.png">
            </div>
            <!-- / LOGO -->

            <!-- TITLE -->
            <div class="title">RECOVER YOUR PASSWORD</div>
            <!-- / TITLE -->

            <!-- PASSWORD RECOVERY FORMGROUP -->
            <form name="passwordRecoveryForm" [formGroup]="passwordRecoveryForm" novalidate>

                <!-- EMAIL INPUT -->
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="passwordRecoveryForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="passwordRecoveryForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <!-- / EMAIL INPUT -->

                <!-- SUBMIT BUTTON -->
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="passwordRecoveryForm.invalid" (click)="recovery()">
                    SEND RESET LINK
                </button>
                <!-- / SUBMIT BUTTON -->

            </form>
            <!-- / PASSWORD RECOVERY FORMGROUP -->

            <!-- GO BACK LINK-->
            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'../login'">Go back to login</a>
            </div>
            <!-- / GO BACK LINK -->

        </div>
        <!-- / PASSWORD RECOVERY FORM -->

    </div>
    <!-- / CONTENT CARD -->

</div>