<div id="showroomID" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    chrome_reader_mode
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Showroom ID
                </span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <!-- SHOWROOMID FORM -->
                <form name="showroomIDForm" [formGroup]="showroomIDForm" #formDirective="ngForm" class="showroom_id w-100-p" fxLayout="column"
                    fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar>
                        <mat-form-field class="w-45-p">
                            <input matInput formControlName="showroom_id" placeholder="Showroom ID" required>
                        </mat-form-field>

                        <mat-form-field class="w-45-p">
                            <input type="password" matInput formControlName="password" placeholder="Password" required>
                        </mat-form-field>

                        <!-- ADD BUTTON -->
                        <button mat-raised-button color="accent" class="submit-button w-10-p" aria-label="ADD" [disabled]="showroomIDForm.invalid"
                            (click)="add(formDirective)">
                            ADD
                        </button>
                        <!-- / ADD BUTTON -->

                    </div>

                </form>
                <!-- / SHOWROOMID FORM -->

            </div>
            <!-- / CONTENT -->

            <!-- CONTENT -->
            <div class="content">

                <!-- DATA TABLE -->
                <mat-table class="showroom_id-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                    <!-- ID COLUMN -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                        <mat-cell *matCellDef="let showroom_id">
                            <p class="text-truncate">{{showroom_id.id}}</p>
                        </mat-cell>
                    </ng-container>
                    <!-- / ID COLUMN -->

                    <!-- HEADER ROW -->
                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                    <!-- / HEADER ROW -->

                    <!-- ROW -->
                    <mat-row *matRowDef="let showroom_id; columns: displayedColumns;" class="showroom_id" matRipple></mat-row>
                    <!-- / ROW -->

                </mat-table>
                <!-- / DATA TABLE -->

                <!-- PAGINATOR -->
                <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
                <!-- / PAGINATOR -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>